In [4]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /srv/conda/envs/notebook/lib/python3.6/site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pandas_datareader) (2.26.0)
Requirement already satisfied: lxml in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pandas_datareader) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pandas>=0.23->pandas_datareader) (2021.1)
Requirement already satisfied: numpy>=1.15.4 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from pandas>=0.23->pandas_datareader) (1.19.5)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.19.0->pandas_datareader) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.19.0->pandas_datareader) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.6)
Requirement already satisfied: charset-normalizer~=2.0.0 in /srv/conda/envs/notebook/lib/python3.6/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas_datareader.data as dtr

In [26]:
tickers = ['fb','aapl','amzn','nflx','goog','^gspc']

In [27]:
D = dtr.DataReader(tickers,"yahoo")

In [8]:
type(D)

pandas.core.frame.DataFrame

In [28]:
D.tail()

Attributes   Adj Close                                                    \
Symbols             fb        aapl         amzn        nflx         goog
Date
2021-09-03  376.260010  154.300003  3478.050049  590.530029  2895.500000
2021-09-07  382.179993  156.690002  3509.290039  606.710022  2910.379883
2021-09-08  377.570007  155.110001  3525.500000  606.049988  2897.669922
2021-09-09  378.000000  154.070007  3484.159912  597.539978  2898.270020
2021-09-10  378.690002  148.970001  3469.149902  598.719971  2838.419922

Attributes                    Close                                       ...  \
Symbols           ^gspc          fb        aapl         amzn        nflx  ...
Date                                                                      ...
2021-09-03  4535.430176  376.260010  154.300003  3478.050049  590.530029  ...
2021-09-07  4520.029785  382.179993  156.690002  3509.290039  606.710022  ...
2021-09-08  4514.069824  377.570007  155.110001  3525.500000  606.049988  ...
2021-09-09  4493.279785  378.000000  154.070007  3484.159912  597.539978  ...
2021-09-10  4458.580078  378.690002  148.970001  3469.149902  598.719971  ...

Attributes         Open                                            Volume  \
Symbols            amzn        nflx         goog        ^gspc          fb
Date
2021-09-03  3452.000000  585.799988  2882.919922  4532.419922   7509600.0
2021-09-07  3478.000000  594.690002  2894.989990  4535.379883  10793800.0
2021-09-08  3511.649902  603.840027  2907.870117  4518.089844  11067200.0
2021-09-09  3526.020020  606.469971  2897.669922  4513.020020   9098900.0
2021-09-10  3501.830078  598.159973  2908.870117  4506.919922  11537600.0

Attributes
Symbols            aapl       amzn       nflx       goog         ^gspc
Date
2021-09-03   57808700.0  2575700.0  2681200.0   955200.0  2.609660e+09
2021-09-07   82278300.0  2737900.0  5821400.0   758500.0  3.098870e+09
2021-09-08   74420200.0  3053400.0  5424500.0   774300.0  2.808480e+09
2021-09-09   57305700.0  2719200.0  2954200.0   739900.0  3.035300e+09
2021-09-10  140646400.0  2393300.0  3948000.0  1643500.0  2.851140e+09

[5 rows x 36 columns]

In [29]:
P = D['Adj Close']

In [30]:
P.tail()

Symbols,fb,aapl,amzn,nflx,goog,^gspc
Date,,,,,,
2021-09-03,376.260010,154.300003,3478.050049,590.530029,2895.500000,4535.430176
2021-09-07,382.179993,156.690002,3509.290039,606.710022,2910.379883,4520.029785
2021-09-08,377.570007,155.110001,3525.500000,606.049988,2897.669922,4514.069824
2021-09-09,378.000000,154.070007,3484.159912,597.539978,2898.270020,4493.279785
2021-09-10,378.690002,148.970001,3469.149902,598.719971,2838.419922,4458.580078

In [31]:
Returns = P  / P.shift(1) - 1

In [32]:
Returns.head()

Symbols           fb      aapl      amzn      nflx      goog     ^gspc
Date
2016-09-13       NaN       NaN       NaN       NaN       NaN       NaN
2016-09-14  0.004402  0.035387  0.000105  0.009574  0.003686 -0.000588
2016-09-15  0.004539  0.033999  0.011300  0.003402  0.012158  0.010109
2016-09-16  0.005610 -0.005624  0.011472  0.021985 -0.003732 -0.003772
2016-09-19 -0.003254 -0.011660 -0.004393 -0.014274 -0.004136 -0.000019

In [33]:
R = P.pct_change()

In [35]:
R.head()

Symbols           fb      aapl      amzn      nflx      goog     ^gspc
Date
2016-09-13       NaN       NaN       NaN       NaN       NaN       NaN
2016-09-14  0.004402  0.035387  0.000105  0.009574  0.003686 -0.000588
2016-09-15  0.004539  0.033999  0.011300  0.003402  0.012158  0.010109
2016-09-16  0.005610 -0.005624  0.011472  0.021985 -0.003732 -0.003772
2016-09-19 -0.003254 -0.011660 -0.004393 -0.014274 -0.004136 -0.000019

In [36]:
R2 = R.tail(100)

In [37]:
R2.columns

Index(['fb', 'aapl', 'amzn', 'nflx', 'goog', '^gspc'], dtype='object', name='Symbols')

In [40]:
R2.rename(columns = {'^gspc':'SnP'},inplace=True)

/srv/conda/envs/notebook/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [41]:
R2.tail()

Symbols           fb      aapl      amzn      nflx      goog       SnP
Date
2021-09-03  0.002611  0.004230  0.004311  0.003364  0.003855 -0.000335
2021-09-07  0.015734  0.015489  0.008982  0.027399  0.005139 -0.003396
2021-09-08 -0.012062 -0.010084  0.004619 -0.001088 -0.004367 -0.001319
2021-09-09  0.001139 -0.006705 -0.011726 -0.014042  0.000207 -0.004606
2021-09-10  0.001825 -0.033102 -0.004308  0.001975 -0.020650 -0.007723

In [44]:
results = sm.ols(formula = 'fb ~ SnP',data = R2).fit()

In [46]:
results.params

Intercept    0.001314
SnP          1.369998
dtype: float64

In [51]:
mystocks = R.columns[:5]

In [52]:
mystocks

Index(['fb', 'aapl', 'amzn', 'nflx', 'goog'], dtype='object', name='Symbols')

In [53]:
type(mystocks)

pandas.core.indexes.base.Index

In [60]:
betalist = []

for mystock in mystocks:
    myformula = mystock + " ~ SnP"
    print(myformula)
    results = sm.ols(formula = myformula,data = R2).fit()
    print(results.params['SnP'])
    betalist.append(results.params['SnP'])

fb ~ SnP
1.369998163162454
aapl ~ SnP
1.4081413177867288
amzn ~ SnP
0.817844442577641
nflx ~ SnP
0.29681328139664537
goog ~ SnP
1.2590698520700574

In [61]:
betalist

[1.369998163162454,
 1.4081413177867288,
 0.817844442577641,
 0.29681328139664537,
 1.2590698520700574]

In [63]:
import numpy as np
betavec = np.array(betalist)

In [64]:
notional = 100
notional * betavec

array([136.99981632, 140.81413178,  81.78444426,  29.68132814,
       125.90698521])

In [65]:
sum(notional * betavec)

515.1867056993526